<div class="footer-basic">
  <footer>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/mriganka.saha.1996/"
          >Facebook</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.linkedin.com/in/mriganka-saha-ba16ba13b/"
          >LinkedIn</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Mrigankasaha2">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/beingmriganka">Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mrigankasaha2@gmail.com">Gmail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/mrigankasaha/"
          >Instagram</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://mrigankasaha2.github.io/aboutme/"
          >WebSite</a
        >
      </li>
    </ul>

    <p class="copyright">Mriganka Saha © 2021</p>
  </footer>
</div>
