<article id="about">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary">About</h5>
        <p class="card-text text-white">
          I am a Full Stack Web Developer currently located in Kolkata, India.
          This is my personal portfolio website that showcases my experience,
          education, technical skill stack, contact information, and a little
          bit more about me.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary">Experience</h5>
        <p class="card-text text-white">
          I joined one of the leading IT farm of India back in 2017 and since
          then I am workig as a fulltime fullstack developer in verious sectors.
        </p>
        <p class="card-text">
          <small class="text-muted">Working Since 2017</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary">Education</h5>
        <p class="card-text text-white">
          Completed Bachelor digree in Electronics and Communiocaion from HITK -
          Kolkata,India.
        </p>
        <p class="card-text">
          <small class="text-muted">From 2013-2017</small>
        </p>
      </div>
    </div>
  </div>
</article>
